
.A {
  flex: 1 1 auto;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
}

  .mat-toolbar{
    background-color: #3A0542;
    color: white;
  }

  .matmenu{
    color: #3A0542;
  }