.home-container {
    padding: 8px;
    text-align: center;
}
.foto{
    margin-left : 800px; 
    margin-top: 0px;
    padding : 0px; 
    border : 0px none rgb(0, 0, 0); 
    font : 16px Arial; 
    box-sizing : border-box; 
    max-width : 100%; 
    display : block;  
    width : 53.9931px; 
}
