.body {
    background-color: #EDEDED;
    height: 100vh;
}

img {
    margin-left: 12px;
    border-radius: 0 10px 10px 0;
}

.titulo {
    color: #1290CB;
    font-weight: bold;
}

.inputCadastro input {
    width: 380px;
    border: none;
    border-bottom: 2px solid rgba(74, 74, 74, 0.434);
}

.inputCadastro input:focus,
.inputCadastro input:active {
    border-color: #1290CB;
}

.inputCadastro input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.cont2 {
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

.btnGoogle {
    font-size: 18px;
    font-weight: 600;
    background-color: transparent;
    border-radius: 5px;
    color: #1290CB;
    border: 2px solid #1290CB;
    width: 380px;
    height: 48px;
}

.btnGoogle:hover {
    color: #ffff;
    background-color: #1290CB;
}

.btnCadastro {
    font-size: 18px;
    font-weight: 600;
    background-color: #1290CB;
    color: #ffffff;
    border-radius: 5px;
    border: 2px solid #1290CB;
    width: 380px;
    height: 48px;
}

.btnCadastro:hover {
    color: #1290CB;
    background-color: transparent;
}

.line::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 164px;
    bottom: 10px;
    left: 38px;
    border-radius: 8px;
    background: rgba(74, 74, 74, 0.434);
}

.line::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 164px;
    bottom: 10px;
    left: -178px;
    border-radius: 8px;
    background: rgba(74, 74, 74, 0.434);
}

.ofusc {
    color: rgba(74, 74, 74, 0.434);
    font-weight: 500;
}
